body{
    background-color: aliceblue;
    padding: 20px;
 }
 
.contenedor1{
    width: 100px;
    margin: auto;
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}

#botoncalcular{
    border-radius: 20px;
    height: 50px;
    width: 300px;
}
